.SSR-white {
  color: whitesmoke;
  border-color: black;
}

.SSR-sessionid {
  font-size: medium;
}

.SSR-MeteorContainer {
  /* To allow free movement */
  position: absolute;

  /* Dev styling */
  border: solid;
  border-color: tomato;
  border-width: 1px;
}

.SSR-MeteorContainer .SSR-Meteor {
  width: 100px;
  height: 100px;
}

.SSR-MeteorContainer button {
  position: absolute;
  /* Top-left anchor */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  padding: 15px 32px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;

  /* FIX for inhereting `pointer-events: none` from div */
  pointer-events: auto;

  animation-name: spectrum;
  animation-duration: 10s;
}

/* .SSR-MeteorContainer button:hover {
  background-color: black;
} */

@keyframes spectrum {
  from {background-color: red;}
  to {background-color: yellow;}
}

.SSR-QuestionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Top-left anchor */
  transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  height: 768px;
  width: 300px;
  background-color: thistle;
}
