/* SSRElement */

.SSRAbsolute {
  /* To allow free placement/movement */
  position: absolute;
}

.SSRClickable{
  /* FIX for inhereting `pointer-events: none` from div */
  pointer-events: auto;
}

.SSR-white {
  color: whitesmoke;
  border-color: black;
}

.SSR-sessionid {
  font-size: medium;
}

.SSR-MeteorContainer button {
  position: absolute;
  /* Center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  padding: 15px 32px;
  border: none;
  background-color: red;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;

  animation-name: spectrum;
  animation-duration: 10s;
}

@keyframes spectrum {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
  }
}

.SSR-QuestionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Size set via component style object */
  background-color: thistle;
}

.card-title {
  text-align: center;
}

.SSR-EndSessionButton {
  white-space: nowrap;
}