.SSR-white {
  color: whitesmoke;
  border-color: black;
}

button {
  /* To allow free movement */
  position: absolute;

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;

  animation-name: spectrum;
  animation-duration: 10s;
}

@keyframes spectrum {
  from {background-color: red;}
  to {background-color: yellow;}
}