.edugame-white {
  color: blue;
  border-color: pink;
}

.s-4 {
  font-size: large;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;

  animation-name: spectrum;
  animation-duration: 10s;
}

@keyframes spectrum {
  from {background-color: red;}
  to {background-color: yellow;}
}